.crud-jadwal {
  width: 800px;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
}

.crud-jadwal h1 {
  text-align: center;
}

.crud-jadwal form {
  border: 1px solid;
  padding: 16px;
  padding-bottom: 40px;
}

.crud-jadwal form input {
  float: right;
  display: block;
}

.crud-jadwal form label {
  font-weight: bold;
}
.crud-jadwal table {
  border-collapse: collapse;
}
.crud-jadwal table th {
  text-align: left;
}
.crud-jadwal table td,
th {
  border-bottom: 1px solid hsl(0, 0%, 80%);
  width: 170px;
  padding: 16px;
}

.crud-jadwal table .no {
  width: fit-content;
}

.crud-jadwal table button {
  margin: 0px 2px;
}
