.film-title {
    font-size: 3em;
    margin-left: 10%;
    margin-top: 10%;
}

.word-now {
    font-weight: 700;
    font-size: 1.3em;
}

.explore-more {
    margin-top: 3%;
    background-color: #198754;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1% 4%;
}

.explore-more:hover {
    background-color: #13663f;
}

.film-list {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    flex-wrap: wrap;
    margin: 10% 5%;
}

.film-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 15%;
    flex-basis: 30%;
    margin: 1%;
}

.film-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.film-card img {
    width: 100%;
}

.container-film {
    padding: 2px 16px;
}

.container-film h4 {
    font-size: 1.3em;
    margin-bottom: 2%;
    text-align: center;
}

.container-film p {
    color: #797979;
    margin: 2%;
}

.link-detail {
    color: #0d6efd !important;
    border: none;
    background-color: transparent;
}

.link-detail:hover {
    cursor: pointer;
}

.vl {
    border-left: 1px solid black;
    height: 30px;
}

.film-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.film-detail img {
    width: 40%;
    margin-right: 10%;
}

.detail-jsaon {
    text-align: center;
}

.detail-jsaon h2 {
    margin-bottom: 5%;
}

.genres {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: 500;
    flex-wrap: wrap;
}

.genre {
    background-color: #198754;
    color: #fff;
    padding: 1% 2%;
}

.attributes {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    font-weight: 500;
}

.bioskop-list-jsaon {
    margin-top: 10%;
    text-align: center;
}

.bioskops {
    display: flex;
    flex-direction: column;
}

.bioskop {
    background-color: #198754;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 1%;
    margin-top: 2%;
}

.bioskop:hover {
    background-color: #13663f;
    cursor: pointer;
}

.content-details {
    margin-top: 10%;
    margin-bottom: 20%;
}