.daftar th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

.daftar img{
    width: 100%;
    height: 120px;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

.box {
  width: 400px;
  border: 15px ;
  padding: 50px;
  margin: auto;
  margin-top: 20px;
  height: 710px;
  box-shadow: 1px 1px 16px hsl(0, 0%, 90%);
  
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%
}

.content {
  margin-left: -30px;
}

.content h1 {
  font-family: "Open Sans";
  color: rgb(158, 155, 155);
  font-weight: 500;
  font-size: 40px;
}

.content p {
  margin-top: -15px;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 45px;
  padding-top: 20px;
  padding-bottom: 15px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  margin-top: 20px;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 3px;
  border: 1px solid grey;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #368ad0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* button {
  background-color: #5cacee;
  border: none;
  color: white;
  padding: 27px 205px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 0px;
  font-weight: 300;
  font-size: 20px;
}

button:active{
  background-color: red;
} */

.timer {
  text-align: center;
  margin: 0 auto;
  width: 350px;
}

.timer h1 {
  text-align: left;
}

.timer h2 {
  text-align: left;
}


.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.daftar th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
} */

.formPeserta {
  width: 670px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    border: 1px solid black;
    height: 250px;
}

.gambarMakanan {
    width: 250px;
    
}

.details{
    margin: 45px 20px 20px 40px;
}

.listmakanan{
    margin: 100px 470px 100px 470px;
}

.button1 {
    padding: 10px 60px;
    background-color: grey;
    border: none;
}

.counter {
    margin: 110px 40px 20px 20px;
    margin-left: auto;
}