.bioskop-title {
    font-size: 3em;
    margin-left: 10%;
    margin-top: 10%;
}

.word-now {
    font-weight: 700;
    font-size: 1.3em;
}

.explore-more {
    margin-top: 3%;
    background-color: #198754;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1% 4%;
}

.explore-more:hover {
    background-color: #13663f;
}

.bioskop-list {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    flex-wrap: wrap;
    margin: 10% 5%;
}

.bioskop-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 15%;
    flex-basis: 30%;
    margin: 1%;
}

.bioskop-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.bioskop-card img {
    width: 100%;
}

.container-ryanda {
    padding: 2px 16px;
}

.container-ryanda h4 {
    font-size: 1.3em;
    margin-bottom: 2%;
    text-align: center;
}

.container-ryanda p {
    color: #797979;
    margin: 2%;
}

.link-detail {
    color: #0d6efd !important;
}

.link-detail:hover {
    cursor: pointer;
}

.vl {
    border-left: 1px solid black;
    height: 30px;
}

.bioskop-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.bioskop-detail img {
    width: 40%;
    margin-right: 10%;
}

.detail {
    text-align: left;
    width:80vw
}

.detail h2 {
    margin-bottom: 5%;
}

.detail li {
    display: inline-block;
    list-style-type: none;
}

.genres {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: 500;
}

.genre {
    background-color: #198754;
    color: #fff;
    padding: 1% 2%;
}

.attributes {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    font-weight: 500;
}

.film-list {
    margin-top: 10%;
    text-align: center;
}

.films{
    text-align: left;
}

/* .film {
    background-color: #198754;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 1%;
    margin-top: 2%;
} */
.film {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    padding: 25px;
    border: 1px solid black;
    height: 250px;
}

/* .film:hover {
    background-color: #13663f;
    cursor: pointer;
} */

.gambarFilm img{
    height: 200px
}

.detailFilm{
    margin: 45px 20px 20px 40px;
    text-align: left;
    width: 60vw;
}

.content-details {
    margin-top: 10%;
    margin-bottom: 20%;
}

.detail h3 {
    color: #0d6efd;
}