.daftar th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

.daftar img{
    width: 100%;
    height: 120px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.daftar {
  width: 800px;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
}

.formPeserta{
    width: 800px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

.daftar {
  width: 800px;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
}

.formPeserta{
    width: 800px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
}