.dashboard {
  margin-top: 16px;
  padding: 16px;
}

.dashboard .center {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.dashboard .title {
  font-size: 30pt;
}

.dashboard img {
  aspect-ratio: 14 / 9;
  object-fit: cover;
}

.dashboard .carousel {
  margin-top: 16px;
  max-width: 1000px;
  z-index: 1;
}

.dashboard .carousel-caption {
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  padding-bottom: 3rem;
}
.dashboard .carousel-caption h3 {
  color: white;
}
