.jadwal-card {
  background-color: hsl(0, 0%, 90%);
  display: flex;
  width: 80%;
  padding: 16px;
  margin: 16px auto;
  box-shadow: 0 1px 2px 0 rgba(10, 10, 10, 0.2);
}
.jadwal-card:hover {
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.jadwal-card img {
  height: 20%;
  width: 100px;
  object-fit: cover;
}
.jadwal-card p {
  margin-bottom: 2px;
}
.jadwal-card .jadwal-details {
  margin-left: 16px;
}
