.navbar-text {
  margin: 1%;
  text-decoration: none;
}

.navbar {
  background-color: hsl(0, 0%, 80%);
}

.sidebar-element {
  background-color: hsl(0, 0%, 80%);
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 5%;
  position: absolute;
  top: 0;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 10rem;
  background: none;
}

.nav-menu {
  background-color: hsl(0, 0%, 80%);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #ffffff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: hsl(0, 0%, 80%);
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.sidebar-name {
  margin-left: 10%;
}
