.content-table, .content-form-add h1, .content-form-edit h1 {
    text-align: center;
}

.table-bioskop-list {
    width: 80%;
    border: 1px black solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.button-edit {
    background-color: #0d6efd;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 5% 10%;
    margin: 2%;
}

.button-edit:hover {
    background-color: #0e5fd8;
    cursor: pointer;
}

.button-delete {
    background-color: #dc3545;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 5% 10%;
    margin: 2%;
}

.button-delete:hover {
    background-color: #b62c3a;
    cursor: pointer;
}

.button-tambah-bioskop {
    margin-top: 5%;
    margin-bottom: 1%;
    background-color: #198754;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1% 2%;
}

.button-tambah-bioskop:hover{
    background-color: #13663f;
    cursor: pointer;
}

.table-bioskop-add, .table-bioskop-edit {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin: 5% auto;
}

.table-bioskop-add input, .table-bioskop-edit input {
    width: 100%;
}

.table-bioskop-add textarea, .table-bioskop-edit textarea {
    resize: vertical;
    width: 100%;
    max-width: 100%;
    max-height: 150px;
}

.centered-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-submit-bioskop {
    background-color: #198754;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1% 2%;
}

.button-submit-bioskop:hover {
    background-color: #13663f;
    cursor: pointer;
}

.ud-bioskop {
    width: 800px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
  }
  
  .ud-bioskop h1 {
    text-align: center;
  }
  
  .ud-bioskop form {
    border: 1px solid;
    padding: 16px;
    padding-bottom: 40px;
  }
  
  .ud-bioskop form input {
    float: right;
    display: block;
  }
  
  .ud-bioskop form label {
    font-weight: bold;
  }
  .ud-bioskop table {
    border-collapse: collapse;
  }
  .ud-bioskop table th {
    text-align: left;
  }
  .ud-bioskop table td,
  th {
    border-bottom: 1px solid hsl(0, 0%, 80%);
    width: 170px;
    padding: 16px;
  }
  
  .ud-bioskop table .no {
    width: fit-content;
  }
  
  .ud-bioskop table button {
    margin: 0px 2px;
  }