.content-table, .content-form-add h1, .content-form-edit h1 {
    text-align: center;
}

.table-film-list {
    width: 80%;
    border: 1px black solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.button-edit {
    background-color: #0d6efd;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 5% 10%;
    margin: 2%;
}

.button-edit:hover {
    background-color: #0e5fd8;
    cursor: pointer;
}

.button-delete {
    background-color: #dc3545;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 5% 10%;
    margin: 2%;
}

.button-delete:hover {
    background-color: #b62c3a;
    cursor: pointer;
}

.button-tambah-film {
    margin-top: 5%;
    margin-bottom: 1%;
    background-color: #198754;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1% 2%;
}

.button-tambah-film:hover{
    background-color: #13663f;
    cursor: pointer;
}

.table-film-add, .table-film-edit {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin: 5% auto;
}

.table-film-add input, .table-film-edit input {
    width: 100%;
}

.table-film-add textarea, .table-film-edit textarea {
    resize: vertical;
    width: 100%;
    max-width: 100%;
    max-height: 150px;
}

.centered-element {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.button-submit-film {
    background-color: #198754;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1% 2%;
}

.button-submit-film:hover {
    background-color: #13663f;
    cursor: pointer;
}