.register-form, .login-form {
    border: 1px solid black;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 10%;
}

.register-form h3, .login-form h3{
    text-align: center;
}

.register-table, .login-table {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin: 5% auto;
}

.register-table input, .login-table input {
    width: 100%;
}

.centered-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-auth {
    background-color: #198754;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1% 2%;
}

.button-auth:hover {
    background-color: #13663f;
    cursor: pointer;
}

.centered-auth p{
    margin-top: 3%;
}

.blue-text {
    color: #0d6efd;
}

.input-role {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input-role input {
    width: 30%;
}